<table border=0 width="750px">
<tr valign=top>
<td rowspan=11 width="300px" ><img width"300px" height="225px" src="{0}" /></td>
<td valign="top" width="450px" height="15px"><b>คอร์ส</b>: {1}</td>
</tr>
<tr><td valign="top"><b>ชื่อย่อ</b>: {2}</td></tr>
<tr><td valign="top"><b>Type</b>: {3}</td></tr>
<tr><td valign="top"><b>ประเภท</b>: {4}</td></tr>
<tr><td valign="top"><b>วัน-เวลา</b>: {5}</td></tr>
<tr><td valign="top"><b>อ.ผู้สอน</b>: {6}</td></tr>
<tr><td valign="top"><b>กลุ่มอาจารย์</b>: {7}</td></tr>
<tr><td valign="top"><b>ค่าเรียน</b>: {8} บาท</td></tr>
<tr><td valign="top"><b>จำนวนที่เปิดรับทั้งหมด</b>: {9} ที่นั่ง</td></tr>
<tr><td valign="top"><b>จำนวนที่เปิดรับทางโอนเงินผ่านธนาคาร </b>: {10} ที่นั่ง</td></tr>
<tr><td valign="top"><b>จำนวนนักเรียนที่ลงทะเบียน</b>: {11} ที่นั่ง</td></tr>
<tr><td valign="top"><b>รายละเอียด</b>: {12}</td></tr>
<tr><td colspan=2 valign="top"><b>รายชื่อนักเรียน</b>: {13}</td></tr>
<tr><td colspan=2 width="750px">
<table border=1 align=center cellpadding=0 cellspacing=0 bordercolor=lightgray>
<tr>
<td align=center width="100px"><b>วันที่สมัคร</b></td>
<td align=center width="200px"><b>ชื่อ-นามสกุล</b></td>
<td align=center width="150px"><b>โรงเรียน</b></td>
<td align=center width="100px"><b>โทร.</b></td>
<td align=center width="100px"><b>อีเมล์</b></td>
<td align=center width="80px"><b>จำนวนเงิน</b></td>
<td align=center width="80px"><b>สถานะ</b></td>
<td align=center width="150px"><b>หมายเหตุ</b></td>
<td align=center width="80px"><b>แก้ไข</b></td>
</tr>
{14}
</table>
</td></tr>
</table>

