       <table width="800px" cellpadding=0 cellspacing=0 >
        <tr>
            <td height="24px" width="50px" align=center class="tabhead1_selected" NOWRAP valign="middle" ><b>{0}</b></td>            
            <td width="700px" align=right>&nbsp</td>
        </tr>        
        <tr>
            <td align=left colspan=2 class="tabpane1">
                <table border=0 width="800px" align="left">
                <tr><td width="150px" valign="top" align="right">&nbsp<b>คอร์ส </b>:</td><td width="450px" valign="top" align="left">{1}</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>อ.ผู้สอน </b>:</td><td width="450px" valign="top" align="left">{2}</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>รหัสกลุ่มจ่ายเงิน</b>:</td><td width="450px" valign="top" align="left">{3}</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>รายชื่อ อ.ในกลุ่ม</b>:</td><td width="450px" valign="top" align="left">{4}</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>อัตราการแบ่งจ่าย</b>:</td><td width="450px" valign="top" align="left">{5}</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>รายได้รวมทั้งหมด </b>:</td><td width="450px" valign="top" align="left"><b>{6}</b> บาท</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>ส่วนแบ่ง </b>:</td><td width="450px" valign="top" align="left"><font color=blue><b>{7}</b></font> บาท</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>เบิกจ่ายไปแล้ว </b>:</td><td width="450px" valign="top" align="left"><font color=red><b>{8}</b></font> บาท</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>สามารถเบิกจ่ายได้อีก </b>:</td><td width="450px" valign="top" align="left"><font color=green><b>{9}</b></font> บาท</td></tr>
                <tr><td width="150px" valign="top" align="right">&nbsp<b>ประวัติการเบิกจ่าย </b>:</td><td width="450px" valign="top" align="left">&nbsp</td></tr>
                <tr width="800px">    
                    <td valign="top" align="center" colspan=2">
                       <table border=1 align=center cellpadding=0 cellspacing=0 bordercolor=lightgray width="600px">
                            <tr>
                                <td align=center width="100px">รหัสเบิกจ่าย</td>                
                                <td align=center width="200px">วันที่จ่าย</td>
                                <td align=center width="100px">จำนวนเงิน</td>                
                                <td align=center width="200px">ผู้รับเงิน</td>                
                                <td align=center width="100px">ผู้ทำรายการ</td>                                
                                <td align=center width="100px">ใบเสร็จ</td>                                
                            </tr>
                            {10}
                       </table>    
                    </td>
                </tr>
                </table>                    
            </td>
        </tr>
        </table>   
<br />

