<!-- <div style="position:absolute;top:189px;left:277px;"><font size=1>SL1012345</font>
</div> -->
<table style="text-align: left; border="0" cellpadding="0" cellspacing="0">
<tr valign=top>
<td width="328px" height="214px" background="img/sys/regcard_front.jpg">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr height=75px width="320px"><td colspan=3>&nbsp</td></tr>
    <tr height="27px" valign=bottom><td width="130px" align="right" >&nbsp</td><td colspan=2 width="300px"><font face="angsana upc" size=2> {0}</font></td></tr>
    <tr height="27px" valign=bottom><td align="right" >&nbsp</td><td colspan=2><font face="angsana upc" size=2> {1}</font></td></tr>
    <tr height="26px" valign=bottom><td align="right" >&nbsp</td><td colspan=2><font face="angsana upc" size=2> {2}</font></td></tr>
    <tr height="38px" valign=middle><td align="right" >&nbsp</td><td width="165px"><font face="angsana upc" size=2> {3}</font></td>
       <td valign=bottom width="20px"><font size=1>{4}</font></td>
    </tr>
  </table>
</td>
<td width="328px" height="214px" background="img/sys/regcard_back.jpg" valign=top>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr height=30px><td colspan=6>&nbsp</td></tr>
    {5}
  </table>
</td>
</tr>

</table>