<table border="1" cellpadding="20" cellspacing="0" bordercolor=grey>
<tr><td>

<table style="text-align: left; border="1" cellpadding="0" cellspacing="0">
<!-- header -->
<tr valign=top >
<td colspan=2 align=right width="600px" height="20px" valign=top><font size=2>{13}</font></td>
</tr>

<!-- logo -->
<tr valign=top >
<td align=left rowspan=2  width="400px"><img src="img/sys/btslogo.jpg" ></td>
<td align=left width="200px"><font size=2><b>เลขที่ใบเสร็จ</b> {0}</font></td>
</tr>
<tr>
<td align=left width="200px"><font size=2><b>สาขา</b> {1}</font></td>
</tr>

<tr><td colspan=2 height="10px"></td></tr>

<!-- summary info -->
<tr><td colspan=2>

<table border="0" cellpadding="0" cellspacing="0">
<tr valign=top>
<td align=left width="250px"><font size=2><b>วันที่สมัคร</b> {2}</font></td>
<td align=left width="150px" colspan=2><font size=2><b>วันที่รับชำระเงิน</b> {14}</font></td>
</tr>

<tr>
<td align=left width="250px"><font size=2><b>ชื่อ - นามสกุล</b> {4}</font></td>
<td align=left width="150px" colspan=2><font size=2><b>รหัสนักเรียน</b> {3}</font></td>
</tr>

<tr valign=top>
<td align=left width="250px"><font size=2><b>โรงเรียน</b> {5}</font></td>
<td align=left width="150px"><font size=2><b>ระดับชั้น</b> {6}</font></td>
<td align=left width="200px"><font size=2><b>เบอร์โทรศัพท์</b> {7}</font></td>
</tr>

</table>

</td>
</tr>

<tr><td colspan=2 height="10px"></td></tr>

<!-- table  -->
<tr><td colspan=2 height="10px">
<table width="600px" border=1 cellspacing=0 cellpadding=1 bordercolor=black>
<tr bgcolor="#EEEEEE">
<td width="70px" align="center"><font size=2><b>คอร์ส</b></font></td>
<td width="260px" align="center"><font size=2><b>ชื่อคอร์ส</b></font></td>
<td width="70px" align="center"><font size=2><b>วันที่เริ่ม</b></font></td>
<td width="70px" align="center"><font size=2><b>วันที่สิ้นสุด</b></font></td>
<td width="70px" align="center"><font size=2><b>เวลา</b></font></td>
<td width="40px" align="center"><font size=2><b>ราคา</b></font></td>
<td width="50px" align="center"><font size=2><b>ส่วนลด</b></font></td>
<td width="40px" align="center"><font size=2><b>สาขา</b></font></td>
</tr>
<tr>
{8}
</tr>
</table>
</td></tr>


<!-- table tailor  -->
<tr><td colspan=2 height="10px">
<table border="0" cellpadding="0" cellspacing="0">
<tr valign=top>
<td align=left width="70px" rowspan=2><font size=2><b>ชำระเป็น </b></font></td>
<td align=left width="330px" rowspan=2><font size=2><b>{9}</b></font></td>
<td align=right width="200px"><font size=2><b>ส่วนลด: </b> {10} บาท</font></td>
</tr>
<tr valign=top>
<td align=right width="200px"><font size=2><b>รวม: </b> {11} บาท</font></td>
</tr>
<tr valign=top>
<td align=left width="400px" rowspan=2 colspan=2><font size=1>บริษัท สตั้ดดี้ ออลล์ จำกัด<br>
สำนักงานใหญ่ เลขที่ 448 อ.สยามกิตติ์ สยามสแควร์ ชั้น 3 ห้อง 301 ถ.พระราม1 แขวงปทุมวัน เขตปทุมวัน กรุงเทพมหานคร 10330<br>
สาขาที่ 1 เลขที่ 448 อ.สยามกิตติ์ สยามสแควร์ ชั้น 4 ห้อง 448 ถ.พระราม1 แขวงปทุมวัน เขตปทุมวัน กรุงเทพมหานคร 10330</font></td>
<td align=right width="200px" height="25px" valign=bottom><font size=2><b>ผู้ออก: </b> {12}</font></td>
</tr>

<tr valign=top>
<td align=right width="200px" colspan=2><font size=2><b>ลายเซ็นต์: _______________</b></font></td>
</tr>

</table>
</td></tr>



</table>

</td></tr></table>