<table border=0 width="600px" align="left">
<tr><td width="150px" valign="top" align="right" height="10px" colspan=2>&nbsp</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>รหัสใบเสร็จ </b>:</td><td width="450px" valign="top" align="left">{0}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>รหัสลงทะเบียน </b>:</td><td width="450px" valign="top" align="left">{1}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>คอร์ส </b>:</td><td width="450px" valign="top" align="left">{2}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>โปรโมชั่นที่ใช้ </b>:</td><td width="450px" valign="top" align="left"><font color=red><b>{3}</b></font></td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>นักเรียน</b>:</td><td width="450px" valign="top" align="left">{4}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>วันที่สมัคร</b>:</td><td width="450px" valign="top" align="left">{5}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>วันที่รับชำระเงิน</b>:</td><td width="450px" valign="top" align="left">{6}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>สาขาที่ทำรายการ </b>:</td><td width="450px" valign="top" align="left">{7}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>ค่าลงทะเบียนเต็ม</b>:</td><td width="450px" valign="top" align="left">{8} บาท</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>ค่าลงทะเบียนจ่ายจริง </b>:</td><td width="450px" valign="top" align="left"><b>{9}</b> บาท</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>ชำระผ่านทาง </b>:</td><td width="450px" valign="top" align="left"><b>{10}</b></td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>ที่นั่ง </b>:</td><td width="450px" valign="top" align="left"><font color=green><b>{11}</b></font></td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>ผุ้ทำรายการ </b>:</td><td width="450px" valign="top" align="left">{12}</td></tr>
<tr><td width="150px" valign="top" align="right">&nbsp<b>สถานะการลงทะเบียน </b>:</td><td width="450px" valign="top" align="left">{13}</td></tr>
</table>

