<table border=0 width="700px">
<tr>
<td width="250px">
    <a href="{0}"><img width="150px" height="200px" src="{0}" border="0"/></a>
</td>

<td width="450px">
    <table>
    <tr><td valign="top" height="15px"><b>รหัส</b>: {1}</td></tr>
    <tr><td valign="top" height="15px"><b>ชื่อ-นามสกุล</b>: {2}</td></tr>
    <tr><td valign="top" height="15px"><b>วิชาที่สอน</b>: {3}</td></tr>    
    <tr><td valign="top" height="15px"><b>เพศ</b>: <img src="{4}" /></td></tr>
    <tr><td valign="top" height="15px"><b>วันเกิด</b>: {5}</td></tr>
    <tr><td valign="top" height="15px"><b>รหัสบัตรประชาชน</b>: {6}</td></tr>
    <tr><td valign="top" height="15px"><b>ที่อยู่</b>: {7}</td></tr>
    <tr><td valign="top" height="15px"><b>โทรศัพท์</b>: {8}</td></tr>
    <tr><td valign="top" height="15px"><b>Email</b>: {9}</td></tr>
    <tr><td valign="top" height="15px"><b>กลุ่มอาจารย์ที่สังกัด</b>: <br>{10}</td></tr>
    </table>
</td>
</tr>
<tr>
<td colspan="2">

    <table width="700px" border=1 align=center cellpadding=0 cellspacing=0 bordercolor="#C1DAD7" bgcolor="#FFFFFF">
    <caption> คอร์สที่สอน </caption>
    <tr bgcolor="#CAE8EA">
        <td width="300px" align=center><b>คอร์ส</b></td>        
        <td width="160px" align=center><b>วันที่สอน</b></td>            
        <td width="80px" align=center><b>รายได้รวม</b></td>        
        <td width="80px" align=center><b>ส่วนแบ่ง</b></td>                
        <td width="80px" align=center><b>จ่ายแล้ว</b></td>                        
    </tr>
    {11}
    </table>

</td>
</tr>
<tr>
<td colspan="2">

    <table width="700px" border=1 align=center cellpadding=0 cellspacing=0 bordercolor="#C1DAD7" bgcolor="#FFFFFF">
    <caption> คอร์สที่ได้รับส่วนแบ่ง </caption>
    <tr bgcolor="#CAE8EA">
        <td width="300px" align=center><b>คอร์ส</b></td>        
        <td width="160px" align=center><b>วันที่สอน</b></td>            
        <td width="80px" align=center><b>รายได้รวม</b></td>        
        <td width="80px" align=center><b>ส่วนแบ่ง</b></td>                
        <td width="80px" align=center><b>จ่ายแล้ว</b></td>                        
    </tr>
    {12}
    </table>

</td>
</tr>
</table>

