<table border=0 width="700px">
<tr>
<td width="100px"><img width="75px" height="100px" src="{0}" /></td>
<td>
    <table>
    <tr><td valign="top" height="15px"><b>รหัส</b>: {1}</td></tr>
    <tr><td valign="top" height="15px"><b>ชื่อ-นามสกุล</b>: {2}</td></tr>
    <tr><td valign="top" height="15px"><b>รหัสบัตรประชาชน</b>: {3}</td></tr>
    <tr><td valign="top" height="15px"><b>เพศ</b>: <img width="16px" height="20px" src="{4}" /></td></tr>
    <tr><td valign="top" height="15px"><b>โรงเรียน</b>: {5}</td></tr>
    <tr><td valign="top" height="15px"><b>วันเกิด</b>: {6}</td></tr>
    <tr><td valign="top" height="15px"><b>ที่อยู่</b>: {7}</td></tr>
    <tr><td valign="top" height="15px"><b>โทรศัพท์</b>: {8}</td></tr>
    <tr><td valign="top" height="15px"><b>Email</b>: {9}</td></tr>    
    </table>
</td>
</tr>
</table>

